$background-primary: #ff6801;
$background-secondary: #ebebeb;
$background-terceary: #60af44;
$background-fourth: #f6f6f6;
$text-primary: #20232c;
$text-secondary: #fff;
$text-terceary: #D7410B;
$border-primary: #ccc;
