@use "colors";

/*---------- GERAL ----------*/
.container {
  background-color: colors.$background-primary;
  display: flex;
  flex-direction: column;

  img {
    cursor: pointer;
  }

  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem 0.5rem;
  }
}

/*----- BANNER INTEIRO -----*/
.bannerInteiro {
  &:hover {
    opacity: 0.8;
  }
}

/*----- BANNER DUPLO -----*/
.containerDuplo {
  @media (min-width: 1024px) {
    display: flex;
    gap: 1rem;

    img {
      border-radius: 12px;
    }
  }

  @media (min-width: 1500px) {
    margin: 0 auto;
  }
}

/* BANNER ITEM ÚNICO */
.banner {
  margin: -0.3rem 0;

  &:hover {
    opacity: 0.8;
  }
}
