@use "colors";

/*---------- GERAL ----------*/
.container {
  background-color: colors.$background-primary;
  display: flex;
  flex-direction: column;
  margin-top: 55px;

  img {
    cursor: pointer;
  }

  @media (min-width: 768px) {
    background-color: colors.$background-secondary;
    margin-top: 0;
  }

  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    gap: 0.3rem;
    padding: 0.5rem 0.5rem;
  }
}

/*----- BANNER INTEIRO -----*/
.bannerInteiro {
  &:hover {
    opacity: 0.8;
  }
}

/*----- BANNER DUPLO -----*/
.containerDuplo {
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2rem;
  }

  @media (min-width: 1300px) {
    margin: 0 auto;
    width: calc(1080px + 4.5rem);

    img {
      border-radius: 12px;
    }
  }

  @media (min-width: 1600px) {
    width: calc(1350px + 6rem);
  }
}

/* BANNER ITEM ÚNICO */
.banner {
  margin: -0.3rem 0;

  &:hover {
    opacity: 0.8;
  }
}
