/*---------- GERAL ----------*/
.containerCategoria {
  background-color: #303030 !important;
  padding-bottom: 15rem;
  margin: 0;
}

/*--- NOME E FILTRO ---*/
.categoriaTopo {
  align-items: center;
  display: flex;
  justify-content: space-around;

  p {
    color: #fff;
    margin: 0;
  }

  select {
    margin-right: 1rem;
  }
}

/* NOME DA ACATEGORIA */
.categoriaNome {
  color: #fff;
  margin: 0;
  padding: 1rem 1.5rem;
}

/*----- ITENS -----*/
.containerItens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 1rem;
  text-align: center;

  h1 {
    font-size: 1rem;
    padding: 0;
  }

  button {
    background-color: #f00;
    border: none;
    color: #fff;
    font-size: 1rem;
    height: 30px;
    margin-top: 1rem;
    width: 150px;
  }
}

/* NOME DO ITEM */
.itemNome {
  color: white;
  margin: 0;
  padding: 2rem 0rem 5rem;
}

/* PREÇO À PRAZO */
.itemPrecoPrazo {
  color: red;
  font-size: 1.2rem;
  margin: 0;

  &:last-child {
    font-size: 0.8rem;
    margin: 0 0 0.5rem 0;
  }
}

/* PREÇO À VISTA */
.itemPrecoVista {
  color: lime;
  font-size: 1.7rem;
  margin: 0;

  &:last-child {
    font-size: 0.8rem;
    margin: 0;
  }
}
