@use "colors";

/*---------- GERAL ----------*/
.container {
  background-color: colors.$background-secondary;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 15rem;
  margin: 0;
  padding: 2rem 0rem;
}

/*----- NOME E FILTRO -----*/
.containerTopo {
  margin: 3rem 1rem 0;

  @media (min-width: 1300px) {
    margin: 0 calc(0.05 * 100vw) + 1;
  }

  @media (min-width: 1500px) {
    margin: 0 calc(0.1 * 100vw) + 1;
  }

  @media (min-width: 1600px) {
    margin: 0 calc(0.15 * 100vw) + 1;
  }
}

/* NOME DA CATEGORIA */
.categoriaNome {
  align-self: start;
  color: colors.$text-primary;
  font-size: 1rem;
  margin: 0 0 0.3rem;

  @media (min-width: 540px) {
    margin: 0 auto 0.3rem;
    width: calc(550px - 1.8rem);
  }

  @media (min-width: 768px) {
    width: calc(540px + 1.5rem);
  }

  @media (min-width: 970px) {
    width: calc(810px + 3rem);
  }

  @media (min-width: 1300px) {
    width: calc(1080px + 4.5rem);
  }
}

/*----- FILTRO -----*/
.containerFiltro {
  align-items: center;
  background: colors.$text-secondary;
  border-radius: 5px;
  display: flex;
  gap: 0.7rem;
  height: 50px;
  justify-content: end;
  margin: 1rem 0;
  width: 100%;

  p {
    color: colors.$background-primary;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0;
  }

  @media (min-width: 540px) {
    margin: 1rem auto;
    width: calc(550px - 1.8rem);
  }

  @media (min-width: 768px) {
    width: calc(540px + 1.5rem);
  }

  @media (min-width: 970px) {
    width: calc(810px + 3rem);
  }

  @media (min-width: 1300px) {
    width: calc(1080px + 4.5rem);
  }
}

/* BOTÃO ORDERNAR */
.botaoOrdenar {
  position: relative;

  button {
    align-items: center;
    background-color: colors.$text-secondary;
    border: 1px solid colors.$border-primary;
    cursor: pointer;
    display: flex;
    gap: 0.7rem;
    height: 25px;
    justify-content: center;
    margin-right: 1rem;
    width: 120px;
  }

  ul {
    background-color: colors.$text-primary;
    color: colors.$text-secondary;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 120px;
    top: 26px;
    z-index: 100;
  }

  li {
    align-items: center;
    border-bottom: 1px solid colors.$border-primary;
    cursor: pointer;
    display: flex;
    font-size: 0.8rem;
    height: 32px;
    justify-content: center;
    list-style: none;
    width: 100%;
    text-align: center;

    &:hover {
      background-color: colors.$background-primary;
      transition: all 0.3s ease;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.botaoOrdenar.ativo {
  ul {
    display: block !important;
  }
}

/*----- ITENS -----*/
.itens {
  align-self: start;
  display: grid;
  gap: 3.5rem 1.5rem;
  justify-content: center;
  justify-items: center;
  padding-bottom: 5rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 270px);
  }

  @media (min-width: 970px) {
    grid-template-columns: repeat(3, 270px);
  }

  @media (min-width: 1300px) {
    grid-template-columns: repeat(4, 270px);
  }
}
