/*---------- GERAL ----------*/
.container {
  background-color: #0057ff;
  color: #fff;

  @media (min-width: 750px) {
    height: 350px;
  }

  @media (min-width: 1000px) {
    align-items: center;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    height: 270px;
    padding: 2rem 2rem;

    hr {
      display: none;
    }
  }
}

/* LOJA */
.containerLoja {
  font-family: "Roboto", sans-serif;
  padding: 2rem 2rem 0rem;

  h1 {
    font-size: 1.5rem;
    margin: 0;
  }

  p {
    font-size: 0.9rem;
    margin: 1rem 0 0 0;
  }

  hr {
    margin-top: 1rem;
  }

  @media (min-width: 1000px) {
    padding: 0;

    h1 {
      font-size: 1.8rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

/* CONTAINER PAGAMENTO */
.containerPagamento {
  font-family: "Roboto", sans-serif;
  padding: 1rem 2rem 2rem;
  text-align: center;

  h1 {
    font-size: 1.5rem;
    margin: 0;
  }
}

/* FORMAS DE PAGAMENTO */
.pagamentoFormas {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0rem 0.5rem;
  justify-content: center;

  @media (min-width: 1000px) {
    margin: 1.5rem 0 0;
  }
}

/* ITEM (TIPO DE PAGAMENTO) */
.pagamentoTipo {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-top: 1rem;
  padding: 0.25rem;
  width: 60px;
}

/*---------- FOOTER ----------*/
.footer {
  background-color: #303030;
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: center;

  p {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
    margin: 1rem 0;
  }

  @media (min-width: 750px) {
    align-items: center;
    height: 60px;
  }
}
