.container {
  background-color: #303030;
  padding: 2.5rem 0;
}

.itemsContainer {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 2.5rem 3rem;
  padding: 1.5rem;
  text-align: center;

  h1 {
    font-size: 1.2rem;
    margin: 0;
  }

  button {
    background-color: #f00;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    height: 40px;
    width: 150px;
  }
}

.pPrazo {
  color: red;
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
}

.pPrazoDesc {
  color: red;
  font-size: 0.8rem;
  margin: 0 0 1.5rem 0;
}

.pVista {
  color: green;
  font-size: 2.5rem;
  margin: 0;
}

.pVistaDesc {
  color: green;
  font-size: 1.3rem;
  margin: 0 0 1rem 0;
}