@use "colors";

/*----- GERAL -----*/

.container {
  background-color: colors.$text-secondary;
  font-family: "Open Sans", sans-serif;
  margin: 0rem 1rem;
  position: relative;
  text-align: center;

  &:hover {
    img {
      opacity: 0.6;
    }
  }

  hr {
    background-color: colors.$border-primary;
    border: none;
    height: 1px;
  }

  p {
    padding: 0 0.5rem;
    text-align: start;
  }

  h2 {
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    padding: 1rem 0.6rem 1.5rem;
    text-align: justify;
  }

  img {
    cursor: pointer;
    height: 200px !important;
    padding-top: 0.5rem !important;
    width: 200px !important;
  }

  button {
    background-color: colors.$background-terceary;
    border: none;
    bottom: -40px;
    color: colors.$text-secondary;
    cursor: pointer;
    font-size: 1.2rem;
    height: 40px;
    left: 0;
    position: absolute;
    width: 100%;

    &:hover {
      opacity: 0.9;
      transition: all 0.5s ease;
    }

    &:not(hover) {
      transition: all 0.5s ease;
    }
  }

  @media (min-width: 768px) {
    margin: 0.5rem 1rem;
    padding: 0;
    width: 270px;

    img {
      height: 220px !important;
      width: 220px !important;
    }
  }

  @media (min-width: 1300px) {
    h2 {
      font-size: 0.9rem;
    }
  }
}

/*----- PREÇOS -----*/
.precos {
  display: flex;
  flex-direction: column;
}

/* PREÇO PROMO */
.precoPromo {
  color: colors.$text-terceary;
  display: flex;
  font-size: 0.9rem;

  p:first-child {
    margin: 0 0 0.2rem;
    text-decoration: line-through;
  }

  p:last-child {
    margin: 0;
    padding: 0;
  }

  @media (min-width: 1300px) {
    font-size: 1rem;
  }
}

/* PREÇO À VISTA */
.precoVista {
  color: colors.$background-terceary;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 0 0.5rem;

  @media (min-width: 1300px) {
    font-size: 1.5rem;
  }
}

/* PREÇO À PRAZO */
.precoPrazo {
  color: colors.$text-primary;
  font-size: 0.8rem;
  margin: 0 0 0.5rem 0;

  @media (min-width: 1300px) {
    font-size: 0.9rem;
  }
}
