@use "colors";

/*---------- GERAL ----------*/
.container {
  background-color: colors.$background-primary;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  position: relative;

  svg {
    color: colors.$text-secondary;
    cursor: pointer;
    font-size: 1.3rem;
  }
}

.containerFixed {
  background-color: colors.$background-primary;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;

  @media (min-width: 768px) {
    position: relative;
  }
}

/*----- ITENS TOPO -----*/
.containerTopo {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 0.5rem;
  padding: 0 0 0.5rem;
}

/*--- NAVBAR ---*/
.containerNavbar {
  align-self: center;
  font-size: 2rem;
  margin-left: 1rem;

  @media (min-width: 768px) {
    align-self: auto;
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: center;
    gap: 1.5rem;
  }
}

/* CATEGORIAS */
.categorias {
  align-items: center;
  border-radius: 9px;
  color: colors.$text-secondary;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  height: 40px;

  p {
    font-size: 0.8rem;
    margin: 0;

    &:last-child {
      font-size: 1.3rem;
    }
  }

  @media (min-width: 768px) {
    background-color: colors.$text-primary;
    margin-right: 0;
    padding: 1.5rem 0.7rem;

    svg {
      font-size: 1.3rem;
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: 1s all ease;
  }

  &:not(hover) {
    transition: 1s all ease;
  }
}

/*----- NAVBAR -----*/
.navbar {
  background-color: colors.$text-primary;
  height: 100vh;
  left: -100%;
  margin: 0;
  position: absolute;
  top: 0;
  width: 65%;
  transition: all 1s ease;
  z-index: 101;

  svg {
    margin: 0.5rem 0 0 1.3rem;
  }

  ul {
    padding: 0;

    li {
      border-bottom: 1px solid colors.$text-primary;
      color: colors.$text-secondary;
      cursor: pointer;
      font-size: 1rem;
      font-family: "Open Sans", sans-serif;
      list-style: none;
      padding: 0.5rem;
      position: relative;

      a {
        text-decoration: none;
      }

      &:hover {
        background-color: colors.$text-terceary;
        transition: all 0.4s ease;
      }

      &:not(hover) {
        transition: all 0.1s ease;
      }
    }
  }

  @media (min-width: 768px) {
    width: 300px;
  }
}

/* NAVBAR OPEN = TRUE */
.navbar.active {
  left: 0;
  transition: all 0.6s ease;
}

/* OPÇÕES CASO OPEN = TRUE */
.navAtivoOpcoes {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;

  svg {
    color: colors.$background-primary;
  }
}

/* LOGIN E CARRINHO CASO OPEN = TRUE */
.navAtivoExtra {
  display: flex;
  gap: 0.6rem;
  padding-right: 1rem;

  svg {
    background-color: colors.$text-primary;
    border-radius: 50%;
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem;
  }
}

/* NOME DA LOJA */
.nomeLoja {
  align-self: center;
  color: colors.$text-secondary;
  font-family: "Audiowide", cursive;
  font-size: 1.8rem;
  justify-self: center;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 1.2rem;
  }
}

/* OPÇÕES EXTRAS DA NAVBAR */
.opcoesExtras {
  align-self: center;
  cursor: pointer;
  display: flex;
  gap: 0.6rem;
  justify-content: end;
  padding-right: 0.6rem;
  position: relative;

  svg {
    color: colors.$text-secondary;
    font-size: 1.3rem;
  }
}

/* ICONE DE BUSCA */
.opcoesBusca {
  margin-right: 1rem;
}

/* NÚMERO DE ITENS NO CARRINHO */
.carrinhoNumeroItem {
  align-items: center;
  background-color: colors.$text-primary;
  border-radius: 50%;
  color: colors.$text-secondary;
  display: flex;
  font-size: 0.7rem;
  height: 19px;
  justify-content: center;
  position: absolute;
  right: 2px;
  top: -10px;
  width: 19px;

  @media (min-width: 768px) {
    font-size: 0.8rem;
    height: 21px;
    right: -5px;
    top: -6px;
    width: 21px;
  }
}

/* BUSCA OPEN = TRUE */
.busca {
  align-items: center;
  bottom: -40px;
  color: colors.$text-secondary;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 100vw;

  svg {
    width: 45px;
  }

  input {
    background-color: colors.$text-terceary;
    border: none;
    color: colors.$text-secondary;
    height: 45px;
    padding: 0 1rem;
    width: 100%;

    &::placeholder {
      color: colors.$text-secondary;
    }
  }

  @media (min-width: 768px) {
    margin: 0;

    input {
      border: none;
      height: 40px;
      padding-left: 0.7rem;
      width: 300px;
    }

    svg {
      font-size: 1rem;
    }
  }

  @media (min-width: 1024px) {
    input {
      width: 400px;
    }
  }

  @media (min-width: 1300px) {
    input {
      width: 600px;
    }
  }
}

/* ÍCONE DA BUSCA OPEN = TRUE*/
.buscaIcone {
  align-items: center;
  background-color: colors.$text-terceary;
  border-left: 1px colors.$border-primary solid;
  display: flex;
  height: 45px;

  @media (min-width: 768px) {
    height: 40px;
  }
}

/*----- DESKTOP -----*/

/* LOGIN*/
.containerLogin {
  align-items: center;
  background: colors.$text-primary;
  display: flex;
  gap: 0.5rem;
  height: 30px;
  justify-content: end;
  padding: 0 2rem;

  p {
    color: colors.$text-secondary;
    margin: 0;
  }

  svg {
    color: colors.$text-secondary;
    cursor: pointer;
    font-size: 1rem;
  }
}

/* CONTAINER NOME E CATEGORIAS */
.navNomeCategoria {
  align-items: center;
  display: flex;
  gap: 1rem;

  hr {
    border: 1px colors.$border-primary solid;
    height: 60px;
  }
}

/* CARRINHO */
.carrinho {
  align-self: center;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  margin-right: 0.5rem;
  position: absolute;
  right: 0;

  svg {
    color: colors.$text-secondary;
    font-size: 2rem;
  }

  @media (min-width: 768px) {
    position: relative;
  }
}
