.container {
  background-color: #0057ff;
  display: flex;
  flex-direction: column;
  font-family: "Audiowide", cursive;
  position: relative;
}

.navInfo {
  display: flex;
  justify-content: space-between;

  h1 {
    align-self: center;
    font-size: 2.5rem;
    margin: 0;
  }
}

.navInfoMenu {
  align-self: center;
  font-size: 2rem;
  margin-left: 1rem;
}

.navInfoRight {
  align-self: center;
  display: flex;
  font-size: 1.5rem;
  gap: 0.5rem;
  margin-right: 0.5rem;
}

.search {
  height: 35px;
  margin: 1.5rem 2rem 1rem;

  &::placeholder {
    padding-left: 1rem;
  }
}

.sidebarMenu {
  background-color: #303030;
  height: 100vh;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 70%;
  z-index: 100;

  svg {
    color: white;
  }

  ul {
    padding: 0;

    li {
      color: #fff;
      cursor: pointer;
      font-size: 1.4rem;
      font-family: Roboto;
      list-style: none;
      margin: 1rem;
      padding: 0;

      a {
        text-decoration: none;
      }
    }
  }
}
