@use "colors";

/*---------- GERAL ----------*/
.container {
  background-color: colors.$background-secondary;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  padding: 3.5rem 0 12rem;

  svg {
    cursor: pointer;
  }

  @media (min-width: 1300px) {
    padding: 3rem calc(0.05 * 100vw);
  }

  @media (min-width: 1500px) {
    padding: 3rem calc(0.1 * 100vw);
  }

  @media (min-width: 1600px) {
    padding: 3rem calc(0.15 * 100vw);
  }
}

/*----- CAMINHO -----*/
.containerCaminho {
  background-color: colors.$text-secondary;
  display: none;
  margin: 0 0 0.8rem;
  padding: 1rem;
  position: relative;

  svg {
    margin: 0 0.6rem;
  }

  span {
    cursor: pointer;

    &:before {
      bottom: 0;
      content: "";
      height: 1px;
      position: absolute;
      width: 0;

      &:hover {
        border: 1px colors.$text-primary solid;
        width: 100%;
      }
    }

    &:last-child {
      color: colors.$background-primary;
    }
  }

  @media (min-width: 768px) {
    display: blcok;
  }
}

/*----- PRODUTO -----*/
.containerProduto {
  align-items: center;
  background-color: colors.$text-primary;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  display: flex;
  flex-direction: column;

  img {
    height: 400px !important;
  }

  @media (min-width: 768px) {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1024px) {
    margin: 0 4rem;
  }
}

/* IMAGEM */
.produtoImagem {
  padding: 1.5rem 1rem 0;

  img {
    height: 100% !important;
    width: 100% !important;
  }

  @media (min-width: 500px) {
    img {
      height: 400px !important;
      margin-top: 1rem !important;
    }
  }

  @media (min-width: 768px) {
    background-color: colors.$text-secondary;
    display: flex;
    justify-content: center;
    padding: 2rem 0;

    img {
      height: 100% !important;
    }
  }

  @media (min-width: 1024px) {
    background-color: colors.$text-secondary;
  }

  @media (min-width: 1200px) {
    img {
      height: 450px !important;
      width: 450px !important;
    }
  }
}

/* INFORMAÇÃO */
.produtoInfo {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 0 1rem;
  width: 100%;
}

/* NOME */
.produtoNome {
  color: colors.$text-secondary;
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0;
  padding: 1rem 1rem 2rem;
  text-align: justify;

  @media (min-width: 768px) {
    text-align: start;
  }
}

/*--- PREÇO/BOTÃO COMPRAR ---*/
.containerPrecoComprar {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 2rem;
  width: 100%;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1024px) {
    align-items: start;
    display: flex;
    padding: 1.5rem 1rem 3.5rem;
  }
}

/* PRECO À VISTA*/
.precoVista {
  color: colors.$background-terceary;
  font-size: 1.7rem;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

/* INFO EXTRA DO PREÇO À VISTA*/
.precoVistaExtra {
  color: colors.$background-terceary;
  font-size: 0.8rem;
  margin: 0;
  padding-bottom: 1rem;
  text-align: center;

  @media (min-width: 1024px) {
    text-align: start;
  }
}

/* BOTÃO DE COMPRAR */
.comprar {
  background-color: colors.$background-terceary;
  border: none;
  color: colors.$text-secondary;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  height: 60px;
  width: 100%;

  svg {
    padding-right: 1rem;
  }

  @media (min-width: 768px) {
    width: 200px;
  }

  @media (min-width: 1024px) {
    width: 100%;
  }
}

/*--- PARCELAMENTO ---*/
.containerParcelamento {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 100%;

  h1 {
    color: colors.$text-secondary;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin: -1px 0;
  }

  p {
    color: colors.$text-primary;
    margin: 0;
  }
}

/* ITENS DO PARCELAMENTO */
.parcelamentoOpcoes {
  background-color: rgb(218, 218, 218);
  border-radius: 7px;
  color: colors.$text-secondary;
  display: grid;
  font-size: 0.7rem;
  gap: 0.5rem 2rem;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);
  margin: 0.5rem 0;
  padding: 0.5rem;

  span {
    font-weight: 700;
  }
}

/*---- CONTAINER GERAL DA DESCRIÇÃO DO PRODUTO -----*/
.produtoDescricao {
  background-color: colors.$text-primary;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 3.5rem 0 0;

  p {
    color: colors.$text-secondary;
    font-size: 0.8rem;
    margin: 0;
    text-align: justify;
  }

  @media (min-width: 1024px) {
    margin: 2.5rem 4rem;
  }
}

/**/
.desc {
  padding: 1.5rem 0;
}

/* CONTAINER SOBRE/DESCRIÇÃO */
.descricaoCima {
  align-items: end;
  background-color: colors.$background-primary;
  color: colors.$text-secondary;
  cursor: pointer;
  display: flex;
  padding: 0 1rem;
}

/* DESCRIÇÃO DO ITEM */
.descricaoTitulo {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  svg {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 0.8rem;
    margin: 0;
  }
}

/* DESCRIÇÃO */
.produtoDesc {
  padding: 1rem;
}

/* IMAGENS*/
.produtoDescImage {
  height: 200px;
  margin: 0 auto;
  position: relative;
  width: 90%;

  @media (min-width: 500px) {
    height: 250px;
  }

  @media (min-width: 650px) {
    height: 300px;
  }

  @media (min-width: 768px) {
    height: 350px;
  }

  @media (min-width: 900px) {
    height: 400px;
  }

  @media (min-width: 1200px) {
    height: 450px;
  }
}

/* OPEN = TRUE */
.descricaoTitulo.tituloAtivo {
  color: colors.$text-primary;
  border-bottom: 2px solid colors.$text-primary;
}

/*----- ESPECIFICAÇAÇÕES -----*/
.containerEspec {
  padding: 0.3rem 1rem;
}

/* DESCRIÇÃO*/
.especDesc {
  p {
    font-size: 0.9rem;
    padding: 0.5rem 0 0;
  }

  p:last-child {
    margin-bottom: 1rem;
  }
}

/*----- VER MAIS -----*/
.containerVerMais {
  align-items: center;
  display: none;
  flex-direction: column;
  margin: 2rem auto 6rem;

  @media (min-width: 1024px) {
    display: flex;
  }
}

.itemVerMais {
  display: flex;

  @media (min-width: 1024px) {
    width: calc(1080px + 4.5rem);
  }
}
