@use "colors";

/*---------- GERAL ----------*/
.container {
  font-family: "Montserrat";
  padding: 2.5rem 0 3rem;
  overflow: hidden;
}

/* TITULO NO INICIO */
.inicioTitulo {
  font-size: 1.3rem;
  margin: 0 auto;
  padding: 0 0 1rem;
  width: calc(360px + 1rem);

  @media (min-width: 500px) {
    width: calc(500px + 1rem);
  }

  @media (min-width: 768px) {
    width: calc(750px + 1rem);
  }

  @media (min-width: 970px) {
    width: calc(960px + 1.5rem);
  }

  @media (min-width: 1200px) {
    width: calc(1040px + 4.5rem);
  }
}

/*----- ITENS -----*/
.itens {
  align-self: start;
  display: grid;
  gap: 2rem 0.5rem;
  grid-template-columns: repeat(2, 180px);
  justify-content: center;
  justify-items: center;
  padding-bottom: 3rem;

  @media (min-width: 500px) {
    gap: 1rem;
    grid-template-columns: repeat(2, 250px);
  }

  @media (min-width: 768px) {
    gap: 1rem 0.5rem;
    grid-template-columns: repeat(3, 250px);
  }

  @media (min-width: 970px) {
    grid-template-columns: repeat(4, 240px);
  }

  @media (min-width: 1200px) {
    gap: 1.5rem;
    grid-template-columns: repeat(4, 260px);
  }
}

.botaoMais {
  padding-bottom: 3rem;
  text-align: center;

  button {
    background-color: #00a000;
    border: none;
    color: colors.$text-secondary;
    font-family: "Montserrat";
    font-size: 0.9rem;
    font-weight: 600;
    height: 40px;
    width: 230px;
  }
}

/*----------BANNER----------*/
.containerDuplo {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.bannerUm {
  cursor: pointer;
  height: 300px;
  width: 500px;

  &:hover {
    opacity: 0.8;
  }
}

.bannerDois {
  cursor: pointer;
  height: 300px;
  width: 500px;

  &:hover {
    opacity: 0.8;
  }
}

/*----------PROMOÇÕES----------*/
.containerPromocoes {
  align-items: center;
  background: #c9c9c9;
  background-color: colors.$border-primary;
  display: flex;
  gap: 5rem;
  height: 600px;
  justify-content: center;
  margin: 1.5rem 0;
  padding: 1rem;
  width: 100%;
}

.promocoesDesc {
  button {
    background-color: colors.$background-primary;
    border: none;
    color: colors.$text-secondary;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 0.875rem;
    height: 50px;
    width: 160px;

    &:hover {
      background-color: colors.$text-primary;
    }
  }

  h1 {
    color: colors.$background-primary;
    font-family: "Poppins";
    font-size: 2rem;
    margin: 0;
  }

  p {
    color: colors.$text-primary;
    font-size: 1rem;
    margin: 1rem 0;
  }
}

.promocoesItens {
  align-items: center;
  display: flex;
  gap: 1.7rem;

  svg {
    cursor: pointer;
    font-size: 1.5rem;
  }
}

.containerPromoItens {
  height: 500px;
  overflow: hidden;
  position: relative;
  width: 830px;
}

.itensPromo {
  display: flex;
  gap: 2rem;
  height: 500px;
  left: 0px;
  position: absolute;
  top: 0;
  transition: all 1s ease;
}

.item {
  align-items: center;
  background-color: colors.$text-secondary;
  display: flex;
  height: 500px;
  width: 250px;
}
