/*---------- GERAL ----------*/
.container {
  background-color: #ebebeb;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  padding: 0 0 3rem;

  svg {
    cursor: pointer;
  }

  @media (min-width: 1300px) {
    padding: 3rem calc(0.05 * 100vw);
  }

  @media (min-width: 1500px) {
    padding: 3rem calc(0.1 * 100vw);
  }

  @media (min-width: 1600px) {
    padding: 3rem calc(0.15 * 100vw);
  }
}

/* CAMINHO */
.containerCaminho {
  background: #fff;
  display: none;
  margin: 0 0 0.8rem;
  padding: 1rem;
  position: relative;

  svg {
    margin: 0 0.6rem;
  }

  span {
    cursor: pointer;

    &:before {
      bottom: 0;
      content: "";
      height: 1px;
      position: absolute;
      width: 0;

      &:hover {
        border: 1px black solid;
        width: 100%;
      }
    }

    &:last-child {
      color: #ff6801;
    }
  }

  @media (min-width: 768px) {
    display: blcok;
  }
}

/*----- CONTAINER DO PRODUTO -----*/
.containerProduto {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  img {
    height: 400px !important;
  }

  @media (min-width: 768px) {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin: 0 4rem;
  }
}

/* INFORMAÇÃO DO PRODUTO */
.produtoInfo {
  align-items: center;
  background-color: rgb(63, 63, 63);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 0 1rem;
  width: 100%;
}

/* IMAGEM DO PRODUTO */
.produtoImagem {
  background: rgb(63, 63, 63);
  padding: 1.5rem 1rem 0;

  img {
    height: 100% !important;
    width: 100% !important;
  }

  @media (min-width: 500px) {
    img {
      height: 400px !important;
      margin-top: 1rem !important;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    padding: 2rem 0;

    img {
      height: 100% !important;
    }
  }

  @media (min-width: 1200px) {
    img {
      height: 450px !important;
      width: 450px !important;
    }
  }
}

/* NOME DO PRODUTO */
.produtoNome {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0;
  padding: 1rem 1rem 2rem;
  text-align: justify;

  @media (min-width: 768px) {
    text-align: start;
  }
}

/* CONTAINER INFOS EXTRAS */
.produtoInfoExtra {
  align-items: center;
  background-color: #ebebeb;
  color: #60af44;
  display: flex;
  font-weight: 600;
  height: 35px;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;

  p {
    margin: 0;
  }
}

/* CONTAINER DO PREÇO À PRAZO */
.containerPrazo {
  align-items: center;
  color: red;
  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
  padding-top: 3rem;

  svg {
    color: red;
    font-size: 1.5rem;
  }
}

/* CONTAINER PREÇO/BOTÃO COMPRAR */
.containerPrecoComprar {
  align-items: start;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 2rem;
  width: 100%;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* PRECO À VISTA*/
.precoVista {
  color: #60af44;
  font-size: 1.7rem;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.precoVistaExtra {
  color: #60af44;
  font-size: 0.8rem;
  margin: 0;
  padding-bottom: 1rem;
}

/* BOTÃO DE COMPRAR */
.comprar {
  background-color: #60af44;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  height: 60px;
  width: 100%;

  svg {
    padding-right: 1rem;
  }

  @media (min-width: 768px) {
    width: 200px;
  }
}

/* PARCELAMENTO */
.containerParcelamento {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 100%;

  h1 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin: -1px 0;
  }

  p {
    margin: 0;
  }
}

.parcelamentoOpcoes {
  background-color: #4e4e4e;
  border-radius: 7px;
  color: #fff;
  display: grid;
  font-size: 0.7rem;
  gap: 0.5rem 2rem;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);
  margin: 0.5rem 0;
  padding: 0.5rem;

  span {
    color: #ff6801;
    font-weight: 700;
  }
}

/* CONTAINER DA DESCRIÇÃO DO PRODUTO */
.produtoDescricao {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 3.5rem 0 0;

  p {
    font-size: 0.8rem;
    margin: 0rem 0 0;
    padding: 0.2rem 0;
    text-align: justify;
  }

  @media (min-width: 768px) {
    margin: 3rem 4rem 0;
  }
}

.descricaoCima {
  align-items: end;
  background-color: #8d8d8d;
  border-bottom: 2px solid #ff6801;
  border-top: 2px solid #ff6801;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: 0 1rem;
}

.descricaoTitulo {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  svg {
    font-size: 2rem;
  }

  h1 {
    font-size: 0.9rem;
    margin: 0;
  }
}

.descricaoTitulo.tituloAtivo {
  background-color: #585858;

  h1 {
    color: #ff6801;
  }

  svg {
    color: #ff6801;
  }
}

.containerEspec {
  padding: 1rem 1rem 0;
}

.especTitulo {
  padding-bottom: 0.7rem;
}

/*----- VER MAIS -----*/
.containerVerMais {
  align-items: center;
  display: none;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: 1024px) {
    display: flex;
  }
}

.itemVerMais {
  display: flex;

  @media (min-width: 1024px) {
    width: calc(1080px + 4.5rem);
  }
}