@use "colors";

/*---------- GERAL ----------*/
.container {
  font-family: "Montserrat";
  padding: 2.5rem 0 3rem;
  overflow: hidden;
}

/* TITULO NO INICIO */
.inicioTitulo {
  font-size: 1.3rem;
  margin: 0 1rem;
  padding: 0 0 1rem;

  @media (min-width: 540px) {
    margin: 0 auto;
    width: calc(550px - 1.8rem);
  }

  @media (min-width: 768px) {
    width: calc(540px + 1.5rem);
  }

  @media (min-width: 970px) {
    width: calc(810px + 3rem);
  }

  @media (min-width: 1300px) {
    width: calc(1000px + 1.5rem);
  }

  @media (min-width: 1500px) {
    width: calc(1200px + 2rem);
  }
}

/*----- ITENS -----*/
.itens {
  align-self: start;
  display: grid;
  gap: 2rem;
  justify-content: center;
  justify-items: center;
  padding-bottom: 3rem;

  @media (min-width: 540px) {
    grid-template-columns: 550px;
  }

  @media (min-width: 768px) {
    gap: 0.5rem;
    grid-template-columns: repeat(2, 270px);
  }

  @media (min-width: 970px) {
    grid-template-columns: repeat(3, 250px);
  }

  @media (min-width: 1300px) {
    grid-template-columns: repeat(4, 250px);
  }

  @media (min-width: 1500px) {
    grid-template-columns: repeat(5, 240px);
  }
}

.botaoMais {
  padding-bottom: 3rem;
  text-align: center;

  button {
    background-color: #00A000;
    border: none;
    color: colors.$text-secondary;
    font-family: "Montserrat";
    font-size: 0.9rem;
    font-weight: 600;
    height: 40px;
    width: 230px;
  }
}
