/*---------- GERAL ----------*/
.container {
  background-color: #ebebeb;
  font-family: "Open Sans", sans-serif;
  padding: 3rem 0 3rem;

  svg {
    cursor: pointer;
  }

  @media (min-width: 1300px) {
    padding: 3rem calc(0.05 * 100vw);
  }

  @media (min-width: 1500px) {
    padding: 3rem calc(0.1 * 100vw);
  }

  @media (min-width: 1600px) {
    padding: 3rem calc(0.15 * 100vw);
  }
}

/*----- CONTAINER DO PRODUTO -----*/
.containerProduto {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  img {
    height: 400px !important;
  }

  @media (min-width: 768px) {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin: 0 4rem;
  }
}

/* INFORMAÇÃO DO PRODUTO */
.produtoInfo {
  align-items: center;
  background-color: rgb(63, 63, 63);
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* IMAGEM DO PRODUTO */
.produtoImagem {
  img {
    height: 100% !important;
    width: 100% !important;
  }

  @media (min-width: 500px) {
    img {
      height: 400px !important;
      margin-top: 1rem !important;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    padding: 2rem 0;

    img {
      height: 100% !important;
    }
  }

  @media (min-width: 1200px) {
    img {
      height: 450px !important;
      width: 450px !important;
    }
  }
}

/* NOME DO PRODUTO */
.produtoNome {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem 0 0;
  padding: 0.5rem 1rem 1.5rem;
  text-align: justify;

  @media (min-width: 768px) {
    text-align: start;
  }
}

/* CONTAINER INFOS EXTRAS */
.produtoInfoExtra {
  align-items: center;
  background-color: #ebebeb;
  color: #009e2a;
  display: flex;
  font-weight: 600;
  height: 35px;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;

  p {
    margin: 0;
  }
}

/* GARANTIA */
.garantia {
  color: #000;
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0;
}

/* CONTAINER DOS PREÇOS */
.containerPrecos {
  align-self: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0 1rem;

  @media (min-width: 768px) {
    justify-items: start;
  }
}

/* CONTAINER DO PREÇO À PRAZO */
.containerPrazo {
  align-items: center;
  color: red;
  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
  padding-top: 3rem;

  svg {
    color: red;
    font-size: 1.5rem;
  }
}

/* PREÇO À PRAZO*/
.precoPrazo {
  p:first-child {
    margin: 0;
  }

  p:last-child {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
    text-align: center;
  }
}

/* CONTAINER DO PREÇO À VISTA */
.containerVista {
  align-items: center;
  color: #009e2a;
  display: flex;
  font-size: 1.5rem;
  gap: 1rem;

  svg {
    color: #009e2a;
    font-size: 1.5rem;
  }

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

/* PRECO À VISTA*/
.precoVista {
  p:first-child {
    margin: 0;
  }

  p:last-child {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
  }

  @media (min-width: 768px) {
    p:last-child {
      font-size: 1rem;
      margin: 0;
      text-align: center;
    }
  }
}

/* BOTÃO DE COMPRAR */
.comprar {
  background-color: #009e2a;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  height: 50px;
  margin: 1rem 0;
  width: 300px;

  svg {
    padding-right: 1rem;
  }
}

/* DESCRIÇÃO DO PRODUTO */
.productDescricao {
  background-color: #fff;
  margin: 5rem 0.5rem 0;
  padding: 0.7rem;

  h1 {
    font-size: 1rem;
    margin: 0;
  }

  p {
    font-size: 0.8rem;
    margin: 1rem 0 0;
    text-align: justify;
  }

  svg {
    color: red;
  }

  @media (min-width: 768px) {
    margin: 3rem 4rem 0;
  }
}

.produtoDescricaoTitulo {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  transition: all 0.5s ease;
}

.tituloAtivo {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 0.4rem;
}

/* ESPECIFICAÇÕES DO PRODUTO*/
.produtoEspec {
  background-color: #fff;
  margin: 2rem 0.5rem 4rem;
  padding: 0.7rem;
  

  h1 {
    font-size: 1rem;
    margin: 0;
  }

  svg {
    color: red;
  }

  @media (min-width: 768px) {
    margin: 2rem 4rem 0;
  }
}

/* DESCRIÇÃO DA ESPECIFICAÇÃO */
.EspecDescricao {
  font-size: 0.8rem;
  padding-bottom: 0.4rem;
}
