$widthDesktop: calc(0.15 * 100vw);

/*---------- GERAL ----------*/
.container {
  background-color: #ebebeb;
  padding: 2.5rem 0 3rem;
  overflow: hidden;
}

/* TITULO NO INICIO */
.inicioTitulo {
  font-size: 1.3rem;
  margin: 0 1rem;

  @media (min-width: 540px) {
    margin: 0 auto;
    width: calc(550px - 1.8rem);
  }

  @media (min-width: 768px) {
    width: calc(540px + 1.5rem);
  }

  @media (min-width: 970px) {
    width: calc(810px + 3rem);
  }

  @media (min-width: 1300px) {
    width: calc(1080px + 4.5rem);
  }
}

/* ITENS (GERAL) */
.itens {
  align-self: start;
  display: grid;
  gap: 3.5rem 1.5rem;
  justify-content: center;
  justify-items: center;
  padding-bottom: 5rem;

  @media (min-width: 540px) {
    grid-template-columns: 550px;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 270px);
  }

  @media (min-width: 970px) {
    grid-template-columns: repeat(3, 270px);
  }

  @media (min-width: 1300px) {
    grid-template-columns: repeat(4, 270px);
  }
}
